.card {
    position: relative;
}
.card img {
    width: 100%;
    height: auto;
    display: flex;
    border: 3px solid #fff;
    border-radius: 6px;
}

// Front of the card - The picture
.card .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in-out 0.2s;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}
.card .back {
    transition: all ease-in-out 0.2s;
    transition-delay: 0.2s;
 }
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}